/*------------------------------------*\
    TEST.LESS
\*------------------------------------*/
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    $TEST IMPORT
\*------------------------------------*/
/*------------------------------------*\
    $COMPONENT-CONTENT
\*------------------------------------*/
.content {
  background: #ffffff;
  border-bottom: 1px solid #c8cbcc;
  border-top: 1px solid #c8cbcc;
  border-radius: 0;
  box-shadow: -3px 3px 3px -2px #e6e6e6;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
