/*------------------------------------*\
    TEST.LESS
\*------------------------------------*/
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    $TEST IMPORT
\*------------------------------------*/
/*------------------------------------*\
    $COMPONENT-CONTENT
\*------------------------------------*/
.content {
  background: #edf1f2;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
