/*------------------------------------*\
    $COMPONENT-FOOTBAR
\*------------------------------------*/
/**
 * Footbar Wrap
 *
 * A simple wrapper to set full page color
 */
.footbar-wrap {
  background-color: #262626;
  border-top: 1px solid #222222;
  color: #ffffff;
  padding: 24px;
}
.footbar-wrap a {
  color: #444444;
}
.footbar-wrap a:hover {
  color: #f4726d;
}
/**
 * Footbar Brand
 *
 * Just like with the navbar we may want to include a brad in the footer
 */
.footbar-brand .brand .brand-logo {
  height: 30px;
  margin-bottom: 6px;
}
@media (min-width: 48em) {
  .footbar-brand .brand .brand-logo {
    margin-bottom: -10px;
  }
}
/**
 * Footbar Nav
 *
 * sometimes footers need additional textual navigation links
 */
.footbar-nav {
  display: block;
  margin: 0;
}
.footbar-nav > ul {
  margin: 0;
}
@media (min-width: 48em) {
  .footbar-nav > ul {
    float: right;
  }
}
.footbar-nav > ul > li {
  display: block;
  margin: 0;
  padding: 0px 12px;
}
@media (min-width: 48em) {
  .footbar-nav > ul > li {
    display: inline-block;
  }
}
.footbar-nav > ul > li:before {
  content: "";
  padding: 0;
}
.footbar-nav > ul > li a {
  text-transform: uppercase;
  display: block;
  padding: 4px 0px;
  width: 100%;
}
/**
 * Footbar Copyright Wrap
 *
 * A simple wrapper to set full page color
 */
.footbar-copyright-wrap {
  font-size: 12px;
  font-size: 0.75em;
  text-transform: uppercase;
  background-color: #222222;
  border-top: 1px solid #1f1f1f;
  color: #666666;
  padding: 24px;
}
.footbar-copyright-wrap a {
  color: #444444;
}
.footbar-copyright-wrap a:hover {
  color: #f4726d;
}
/**
 * Footbar Copyright
 *
 * Common place to place copyright information is in the footer
 */
.footbar-copyright {
  margin-bottom: 24px;
}
@media (min-width: 30em) {
  .footbar-copyright {
    margin-bottom: 0px;
  }
}
