/*------------------------------------*\
    $COMPONENT-FOOTBAR
\*------------------------------------*/
/**
 * Footbar Wrap
 *
 * A simple wrapper to set full page color
 */
.footbar-wrap {
  background-color: #333333;
  color: #ffffff;
  padding: 24px;
  padding: 1.5rem;
}
.footbar-wrap a {
  color: #b3b3b3;
}
.footbar-wrap a:hover {
  color: #f4726d;
}
/**
 * Footbar Brand
 *
 * Just like with the navbar we may want to include a brad in the footer
 */
.footbar-brand .brand .brand-logo {
  height: 45px;
  margin-bottom: -10px;
}
@media (max-width: 767px) {
  .footbar-brand {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
  }
}
/**
 * Footbar Nav
 *
 * sometimes footers need additional textual navigation links
 */
.footbar-nav {
  display: block;
  margin: 0;
}
.footbar-nav > ul {
  margin: 0;
}
@media (min-width: 767px) {
  .footbar-nav > ul {
    float: right;
  }
}
.footbar-nav > ul > li {
  line-height: 1;
  display: block;
  margin: 0;
  padding: 0px 12px;
  padding: 0rem 0.75rem;
}
@media (min-width: 767px) {
  .footbar-nav > ul > li {
    display: inline-block;
  }
}
.footbar-nav > ul > li:before {
  content: "";
  padding: 0;
}
.footbar-nav > ul > li a {
  text-transform: uppercase;
  display: block;
  padding: 14.5px 0px;
  padding: 0.90625rem 0rem;
  width: 100%;
}
/**
 * Footbar Copyright Wrap
 *
 * A simple wrapper to set full page color
 */
.footbar-copyright-wrap {
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  background-color: #262626;
  border-top: 1px solid #222222;
  color: #666666;
  padding: 12px;
  padding: 0.75rem;
}
.footbar-copyright-wrap a {
  color: #b3b3b3;
}
.footbar-copyright-wrap a:hover {
  color: #ffffff;
}
/**
 * Footbar Copyright
 *
 * Common place to place copyright information is in the footer
 */
@media (max-width: 767px) {
  .footbar-copyright {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
  }
}
