/*------------------------------------*\
    TEST.LESS
\*------------------------------------*/
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    $TEST IMPORT
\*------------------------------------*/
/*------------------------------------*\
    $COMPONENT-FORUMS
\*------------------------------------*/
/**
 * Forums master Class
 *
 * Since we use alot of list elemetns not as intended we need a micro reset for them to make styling things easier
 */
.forums {
  background-color: #ffffff;
  margin: 0;
}
.forums ol,
.forums dl,
.forums dt,
.forums dd,
.forums ul,
.forums p {
  margin: 0;
  line-height: 1;
}
/**
 * Forum-wrap used to apply grid
 */
@media (max-width: 767px) {
  .forums-wrap.grid {
    padding: 0px;
    padding: 0rem;
  }
}
/**
 * Forum Name
 *
 * This is the header for each forum section
 */
.forum-name {
  line-height: 1;
  background-color: #8d9ea6;
  margin: 0;
}
.forum-name > a {
  font-size: 16px;
  font-size: 1rem;
  color: #ffffff;
  display: block;
  padding: 6px 24px;
  padding: 0.375rem 1.5rem;
}
.forum-name > a:hover {
  text-decoration: underline;
}
/**
 * Forum Row
 *
 * Here we style the look of each forum row
 */
.forum-row {
  border-bottom: 1px solid #c8cbcc;
  box-shadow: 0 2px 1px -1px #ffffff;
  padding-top: 6px;
  padding-top: 0.375rem;
  padding-bottom: 9px;
  padding-bottom: 0.5625rem;
}
@media (max-width: 767px) {
  .forum-row {
    padding-left: 12px;
    padding-right: 12px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
.forum-row:hover {
  background-color: #f2f2f2;
}
/**
 * Forum Title
 *
 * This is the physical link to each forum
 */
.forum-title {
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0;
}
@media (min-width: 768px) {
  .forum-title {
    font-size: 16px;
    font-size: 1rem;
  }
}
.forum-title > a {
  color: #46698c;
}
.forum-title > a:hover {
  color: #1dbf9f;
}
.forum-title .label {
  margin-left: 6px;
  margin-left: 0.375rem;
}
/**
 * Forum Desc.
 *
 * This allows for the styling of the text description of each forum
 */
.forum-description {
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 24px;
  line-height: 1.5rem;
  display: block;
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
}
/**
 * Forum stats
 *
 * Master class for all the styles to the stats for each forum row. 
 * IE: topics, posts, links, views, replies
 *
 * The individual classes themselves are used more as a located and for positioning.
 */
dd.forum-stats {
  margin-top: 8px;
  margin-top: 0.5rem;
}
dd.forum-stats > p {
  display: inline-block;
}
@media (min-width: 768px) {
  dd.forum-stats > p {
    background-color: transparent;
    border-radius: 0;
    display: inline-flex;
    margin-bottom: 6px;
    margin-bottom: 0.375rem;
  }
  dd.forum-stats > p > dfn {
    font-weight: 700;
    font-style: normal;
    color: #8d9ea6;
    padding-right: 12px;
    padding-right: 0.75rem;
  }
  dd.forum-stats > p > b {
    background-color: #8d9ea6;
    border-radius: 3px;
    margin-top: -3px;
    margin-top: -0.1875rem;
    padding: 3px 6px;
    padding: 0.1875rem 0.375rem;
  }
}
/**
 * Forum recent
 *
 * Position the recent post section
 */
dd.forum-recent {
  margin-top: 8px;
  margin-top: 0.5rem;
}
/**
 * Forum avatar
 *
 * Style the size and position of the avatars
 */
.forum-avatar {
  padding-right: 12px;
  padding-right: 0.75rem;
  width: 50px;
}
/**
 * Forum recent post user
 *
 * Style the user of the most recent post
 */
.forum-recent-user > a {
  line-height: 24px;
  line-height: 1.5rem;
}
/**
 * Forum recent post time
 *
 * Style the time of the most recent post
 */
.forum-recent-time {
  font-size: 12px;
  font-size: 0.75rem;
}
