/*------------------------------------*\
    $COMPONENT-INFO
\*------------------------------------*/
/**
 * Info Class
 *
 * Primary class for info section, used mostly for spacing
 */
.info {
  padding-top: 48px;
  padding-top: 3rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}
@media (min-width: 768px) and (max-width: 983px) {
  .info .list-inline > dt {
    font-size: 12px;
    font-size: 0.75rem;
  }
  .info .list-inline > dd {
    font-size: 12px;
    font-size: 0.75rem;
    margin-left: -2px;
    margin-left: -0.125rem;
    margin-left: 6px;
    margin-left: 0.375rem;
  }
}
/**
 * Info Stats
 *
 * style how the info stats look
 */
.info-stats {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 244px;
}
.info-stats > dd {
  text-align: center;
}
@media (min-width: 768px) {
  .info-stats {
    width: 627px;
  }
  .info-stats > dd {
    text-align: left;
  }
}
@media (min-width: 984px) {
  .info-stats {
    width: 751px;
  }
}
.info-stats > dt {
  color: #95a5a6;
}
