/*------------------------------------*\
    TEST.LESS
\*------------------------------------*/
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    $TEST IMPORT
\*------------------------------------*/
/*------------------------------------*\
    $COMPONENT-SIDENAV
\*------------------------------------*/
/**
 * Sidenav
 *
 * This is main class for establishing the sidenav section.
 */
.sidenav {
  background-color: #ecf0f1;
  display: inline-block;
  height: 100%;
  left: -260px;
  margin: 0;
  position: absolute;
  width: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
@media only screen and (max-width: 767px) {
  .sidenav {
    padding-top: 0;
    position: fixed;
    z-index: 1010;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
}
.sidenav:before,
.sidenav:after {
  content: " ";
  display: table;
}
.sidenav:after {
  clear: both;
}
/**
 * Sidenav Menu
 *
 * This class sets the styles for the menu items.
 */
.sidenav-menu {
  padding: 48px 0px;
  padding: 3rem 0rem;
  margin: 0;
}
.sidenav-menu > li {
  display: block;
  margin: 18px 0px 0px;
  margin: 1.125rem 0rem 0rem;
  position: relative;
}
.sidenav-menu > li > a {
  line-height: 24px;
  line-height: 1.5rem;
  outline: 0;
  color: #c9cccd;
  display: block;
  padding: 0px 0px 12px;
  padding: 0rem 0rem 0.75rem;
  margin: 0px 15px;
  margin: 0rem 0.9375rem;
}
.sidenav-menu > li > a:hover {
  color: #1abc9c;
}
.sidenav-menu > li span {
  display: inline-block;
  margin-left: 12px;
  margin-left: 0.75rem;
  top: -4px;
  position: relative;
}
.sidenav-menu > li .icon,
.sidenav-menu > li .octicons {
  font-size: 24px;
  font-size: 1.5rem;
  top: 0;
}
.sidenav-menu > li .sidenav-menu-sub .icon,
.sidenav-menu > li .sidenav-menu-sub .octicons {
  font-size: 16px;
  font-size: 1rem;
  text-decoration: none;
}
.sidenav-menu > li .icon.icon-chevron-down {
  font-size: 12px;
  font-size: 0.75rem;
  top: -4px;
}
.sidenav-menu > li .badge {
  margin: -24px 0px 0px -12px;
  margin: -1.5rem 0rem 0rem -0.75rem;
}
.sidenav-menu > li.is-active > a {
  color: #1abc9c;
}
/**
 * Sidenav Seach
 *
 * This is where we set the styles related tot he seach feild
 */
.sidenav-search .form {
  margin-left: 15px;
  margin-right: 15px;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}
/**
 * Sidenav menu sub
 *
 * Here we establish the look of the submenu items.
 */
.sidenav-menu-sub {
  display: none;
  padding: 0px 0px 12px;
  padding: 0rem 0rem 0.75rem;
  margin: 0px 15px;
  margin: 0rem 0.9375rem;
}
.sidenav-menu-sub .is-active {
  display: block;
}
.sidenav-menu-sub a {
  font-weight: normal;
  font-size: 12px;
  font-size: 0.75rem;
  text-decoration: none;
  color: #1abc9c;
  display: block;
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
}
.sidenav-menu-sub a:hover span {
  text-decoration: underline;
}
.sidenav-menu-sub a .is-active {
  font-weight: bold;
}
/**
 * Outer Wrap
 *
 * We need to do a little magic to one of our atoms 
 * inorder for the menu effect to work.
 */
@media only screen and (max-width: 767px) {
  .outer-wrap {
    margin: 0;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
}
/**
 * Sidenav Active State Class
 *
 * Here we set the changes that need to occur to the 
 * various wrapping classes to display the sidenav.
 */
body.is-active {
  overflow-x: hidden;
}
body.is-active .sidenav {
  border-top: 1px solid #c9cccd;
  left: 0;
  position: absolute;
  width: 260px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@media (min-width: 768px) {
  body.is-active .sidenav {
    border-top: 3px solid #c9cccd;
  }
}
body.is-active .content,
body.is-active .footbar {
  border-left: 1px solid #c9cccd;
}
@media (min-width: 768px) {
  body.is-active .content,
  body.is-active .footbar {
    border-left: 0;
  }
}
body.is-active .outer-wrap,
body.is-active .footbar {
  margin-left: 260px;
  margin-left: 16.25rem;
  overflow: hidden;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
