/*------------------------------------*\
    THEME.LESS
\*------------------------------------*/
// Contains all styles for the theme of the project outside the sugar3 framework...

/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/

@import "tools/defaults.less";
@import "vars.less";
@import "tools/mixins.less";


/*------------------------------------*\
    $USER STYLES
\*------------------------------------*/

.wrapper { .padding(@double-spacing-unit); }

.brand {
    /* Text */
    font-family: 'midaym';
    font-size: 30px;
    /* Decoration */
    color: @gray;

    &:hover { color: @gray-darker; }
}

.btn {
    /* Text */
    .font-size(16);     
    font-family: "Open Sans", "Droid Sans", Verdana, Arial, Helvetica;
    font-weight: normal;                               
    .line-height(@base-line-height);
    //letter-spacing: 1px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-font-smoothing: subpixel-antialiased;

    /* Decoration */                                  
    background-color: @white-darker;
    #gradient.vertical(@white, @white-darker);
    border: 1px solid @gray-light;
    border-radius: 4px;
    .box-shadow(0 0 0 1px #FFFFFF inset);
    color: #BC2A4D;
    cursor: pointer;
    .transition(.25s linear);

    /* Layout */                
    display: inline-block;
    margin: 0;                                                             
    .padding(2, 8);
            
    &:hover {
        text-decoration: none;
        border-color: #0a8ed0;
        #gradient.vertical(@white-darker, @white);
        color: #BC2A4D;
        text-shadow: 1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, -1px -1px 0 rgba(188, 42, 77, 0.2);
        .octicons { color: #0a8ed0; }
    }

    &:active,
    &:focus { outline: none; }

    &:active { .box-shadow(inset 0 3px 5px rgba(0,0,0,.125)); }

    span {
        .font-size(13);
        font-weight: 700;
    }
}

@font-face {
    font-family: 'octicons';
    src:url('../fonts/octicons.eot');
    src:url('../fonts/octicons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/octicons.ttf') format('truetype'),
        url('../fonts/octicons.woff') format('woff'),
        url('../fonts/octicons.svg#octicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.octicons {
    font-family: 'octicons';
    font-style: inherit;
    font-weight: inherit;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    // Better Font Rendering \\
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #8f8f8f;
    
    display: inline-block;
    margin: 0 1px;
    position: relative;
    top: 1px;
        
    speak: none;
}

.octicons-pencil:before                      { content: "\f058"; }
.octicons-quote:before                       { content: "\f063"; }
.octicons-remove-close:before                { content: "\f050"; }
.octicons-info:before                        { content: "\f059"; }
.octicons-issue-opened:before                { content: "\f026"; }
.octicons-alert:before                       { content: "\f02d"; }
.octicons-zap:before                         { content: "\26a1"; }
.octicons-stop:before                        { content: "\f08f"; }
.octicons-sync:before                        { content: "\f087"; }
.octicons-tag:before                         { content: "\f015"; }
.octicons-tag-add:before                     { content: "\f054"; }
.octicons-tag-remove:before                  { content: "\f055"; }
.octicons-telescope:before                   { content: "\f088"; }
.octicons-three-bars:before                  { content: "\f05e"; }
.octicons-tools:before                       { content: "\f031"; }
.octicons-triangle-left:before               { content: "\f044"; }
.octicons-triangle-down:before               { content: "\f05b"; }
.octicons-triangle-right:before              { content: "\f05a"; }
.octicons-triangle-up:before                 { content: "\f0aa"; }
.octicons-unfold:before                      { content: "\f039"; }
.octicons-unmute:before                      { content: "\f0ba"; }
.octicons-unmute-video:before                { content: "\f0b9"; }
.octicons-versions:before                    { content: "\f064"; }
.octicons-x:before                           { content: "\f081"; }
.octicons-star-delete:before                 { content: "\f083"; }
.octicons-repo-delete:before                 { content: "\f004"; }
.octicons-playback-fast-forward:before       { content: "\f0bd"; }
.octicons-mirror-private:before              { content: "\f025"; }
.octicons-list-ordered:before                { content: "\f062"; }
.octicons-bug:before                         { content: "\f091"; }
.octicons-comment-discussion:before          { content: "\f04f"; }
.octicons-eye-watch:before                   { content: "\f01d"; }
.octicons-gist-new:before                    { content: "\f07a"; }
.octicons-horizontal-rule:before             { content: "\f070"; }
.octicons-home:before                        { content: "\f08d"; }
.octicons-gist-fork:before                   { content: "\f079"; }
.octicons-eye-unwatch:before                 { content: "\f01e"; }
.octicons-comment-add:before                 { content: "\f06f"; }
.octicons-broadcast:before                   { content: "\f048"; }
.octicons-bookmark:before                    { content: "\f07b"; }
.octicons-comment:before                     { content: "\f02b"; }
.octicons-eye:before                         { content: "\f04e"; }
.octicons-gist:before                        { content: "\f00e"; }
.octicons-history:before                     { content: "\f07e"; }
.octicons-link:before                        { content: "\f05c"; }
.octicons-link-external:before               { content: "\f07f"; }
.octicons-milestone:before                   { content: "\f075"; }
.octicons-microscope:before                  { content: "\f089"; }
.octicons-person-remove:before               { content: "\f01b"; }
.octicons-pin:before                         { content: "\f041"; }
.octicons-repo-create:before                 { content: "\f003"; }
.octicons-repo-clone:before                  { content: "\f04c"; }
.octicons-star:before                        { content: "\f02a"; }
.octicons-star-add:before                    { content: "\f082"; }
.octicons-squirrel:before                    { content: "\f0b2"; }
.octicons-repo:before                        { content: "\f001"; }
.octicons-person-follow:before               { content: "\f01c"; }
.octicons-mention:before                     { content: "\f0be"; }
.octicons-light-bulb:before                  { content: "\f000"; }
.octicons-heart:before                       { content: "\2665"; }
.octicons-gift:before                        { content: "\f042"; }
.octicons-ellipsis:before                    { content: "\f09a"; }
.octicons-color-mode:before                  { content: "\f065"; }
.octicons-book:before                        { content: "\f007"; }
.octicons-beer:before                        { content: "\f069"; }
.octicons-code:before                        { content: "\f05f"; }
.octicons-diff-renamed:before                { content: "\f06e"; }
.octicons-gear:before                        { content: "\f02f"; }
.octicons-graph:before                       { content: "\f043"; }
.octicons-keyboard:before                    { content: "\f00d"; }
.octicons-megaphone:before                   { content: "\f077"; }
.octicons-person-add:before                  { content: "\f01a"; }
.octicons-person:before                      { content: "\f018"; }
.octicons-radio-tower:before                 { content: "\f030"; }
.octicons-server:before                      { content: "\f097"; }
.octicons-settings:before                    { content: "\f07c"; }
.octicons-search:before                      { content: "\f02e"; }
.octicons-screen-normal:before               { content: "\f067"; }
.octicons-question:before                    { content: "\f02c"; }
.octicons-organization:before                { content: "\f037"; }
.octicons-octoface:before                    { content: "\f008"; }
.octicons-puzzle:before                      { content: "\f0c0"; }
.octicons-screen-full:before                 { content: "\f066"; }
.octicons-ruby:before                        { content: "\f047"; }
.octicons-pulse:before                       { content: "\f085"; }
.octicons-no-newline:before                  { content: "\f09c"; }
.octicons-mute-video:before                  { content: "\f0b8"; }
.octicons-primitive-square:before            { content: "\f053"; }
.octicons-rss:before                         { content: "\f034"; }
.octicons-rocket:before                      { content: "\f033"; }
.octicons-primitive-dot:before               { content: "\f052"; }
.octicons-mute:before                        { content: "\f080"; }
.octicons-move-up:before                     { content: "\f0a7"; }
.octicons-podium:before                      { content: "\f0af"; }
.octicons-repo-sync:before                   { content: "\f04b"; }
.octicons-repo-push:before                   { content: "\f005"; }
.octicons-plus:before                        { content: "\f05d"; }
.octicons-move-right:before                  { content: "\f0a9"; }
.octicons-move-left:before                   { content: "\f074"; }
.octicons-playback-rewind:before             { content: "\f0bc"; }
.octicons-repo-pull:before                   { content: "\f006"; }
.octicons-repo-forked:before                 { content: "\f002"; }
.octicons-playback-play:before               { content: "\f0bf"; }
.octicons-move-down:before                   { content: "\f0a8"; }
.octicons-playback-pause:before              { content: "\f0bb"; }
.octicons-mirror-public:before               { content: "\f024"; }
.octicons-repo-force-push:before             { content: "\f04a"; }
.octicons-list-unordered:before              { content: "\f061"; }
.octicons-location:before                    { content: "\f060"; }
.octicons-lock:before                        { content: "\f06a"; }
.octicons-log-in:before                      { content: "\f036"; }
.octicons-log-out:before                     { content: "\f032"; }
.octicons-logo-github:before                 { content: "\f092"; }
.octicons-mail:before                        { content: "\f03b"; }
.octicons-mail-read:before                   { content: "\f03c"; }
.octicons-mail-reply:before                  { content: "\f051"; }
.octicons-mark-github:before                 { content: "\f00a"; }
.octicons-mark-twitter:before                { content: "\f0ae"; }
.octicons-key:before                         { content: "\f049"; }
.octicons-jump-up:before                     { content: "\f073"; }
.octicons-jump-right:before                  { content: "\f0a6"; }
.octicons-jump-down:before                   { content: "\f072"; }
.octicons-jersey:before                      { content: "\f019"; }
.octicons-issue-reopened:before              { content: "\f027"; }
.octicons-issue-closed:before                { content: "\f028"; }
.octicons-hubot:before                       { content: "\f09d"; }
.octicons-hourglass:before                   { content: "\f09e"; }
.octicons-gist-private:before                { content: "\f00f"; }
.octicons-gist-secret:before                 { content: "\f08c"; }
.octicons-git-branch:before                  { content: "\f020"; }
.octicons-git-branch-create:before           { content: "\f098"; }
.octicons-git-branch-delete:before           { content: "\f09b"; }
.octicons-git-commit:before                  { content: "\f01f"; }
.octicons-git-compare:before                 { content: "\f0ac"; }
.octicons-git-fork-private:before            { content: "\f021"; }
.octicons-git-merge:before                   { content: "\f023"; }
.octicons-jump-left:before                   { content: "\f0a5"; }
.octicons-git-pull-request:before            { content: "\f009"; }
.octicons-git-pull-request-abandoned:before  { content: "\f090"; }
.octicons-globe:before                       { content: "\f0b6"; }
.octicons-file-zip:before                    { content: "\f013"; }
.octicons-file-text:before                   { content: "\f011"; }
.octicons-file-submodule:before              { content: "\f017"; }
.octicons-file-symlink-directory:before      { content: "\f0b1"; }
.octicons-file-symlink-file:before           { content: "\f0b0"; }
.octicons-file-pdf:before                    { content: "\f014"; }
.octicons-file-directory-create:before       { content: "\f095"; }
.octicons-file-directory:before              { content: "\f016"; }
.octicons-file-code:before                   { content: "\f010"; }
.octicons-file-binary:before                 { content: "\f094"; }
.octicons-file-add:before                    { content: "\f086"; }
.octicons-credit-card:before                 { content: "\f045"; }
.octicons-dashboard:before                   { content: "\f07d"; }
.octicons-database:before                    { content: "\f096"; }
.octicons-device-camera:before               { content: "\f056"; }
.octicons-device-camera-video:before         { content: "\f057"; }
.octicons-device-desktop:before              { content: "\f27c"; }
.octicons-diff:before                        { content: "\f04d"; }
.octicons-diff-added:before                  { content: "\f06b"; }
.octicons-diff-ignored:before                { content: "\f099"; }
.octicons-diff-modified:before               { content: "\f06d"; }
.octicons-diff-removed:before                { content: "\f06c"; }
.octicons-cloud-upload:before                { content: "\f00c"; }
.octicons-cloud-download:before              { content: "\f00b"; }
.octicons-arrow-small-up:before              { content: "\f09f"; }
.octicons-arrow-up:before                    { content: "\f03d"; }
.octicons-arrow-small-right:before           { content: "\f071"; }
.octicons-clock:before                       { content: "\f046"; }
.octicons-clippy:before                      { content: "\f035"; }
.octicons-arrow-small-left:before            { content: "\f0a1"; }
.octicons-arrow-small-down:before            { content: "\f0a0"; }
.octicons-circle-slash:before                { content: "\f084"; }
.octicons-chevron-up:before                  { content: "\f0a2"; }
.octicons-arrow-right:before                 { content: "\f03e"; }
.octicons-arrow-down:before                  { content: "\f03f"; }
.octicons-arrow-left:before                  { content: "\f040"; }
.octicons-chevron-right:before               { content: "\f078"; }
.octicons-device-mobile:before               { content: "\f038"; }
.octicons-chevron-left:before                { content: "\f0a4"; }
.octicons-chevron-down:before                { content: "\f0a3"; }
.octicons-alignment-unalign:before           { content: "\f08b"; }
.octicons-alignment-aligned-to:before        { content: "\f08e"; }
.octicons-checklist:before                   { content: "\f076"; }
.octicons-check:before                       { content: "\f03a"; }
.octicons-alignment-align:before             { content: "\f08a"; }
.octicons-calendar:before                    { content: "\f068"; }
.octicons-file-media:before                  { content: "\f012"; }


