//------------------------------------//
//  $VARS
//------------------------------------//

// Overide defaults.less

@base-bg-color:                             @wet-asphalt;

// Base colour for links & branding
@base-link-color:                           @wet-asphalt;
@base-link-hover-color:                     @turquuoise;

// Form
@form-color:                                @silver;
@form-border-color:                         @silver;
@form-disabled-color:                       @silver;
@form-border-focus:                         @turquuoise;

//------------------------------------//
//  $MODULES
//------------------------------------//

// Buttons
@button-default-bg:                         @base-link-color;
@button-default-color:                      @white;
@button-default-border:                     0;
@button-default-border-radius:              @base-radius-medium;

@button-clear-border:                       2px solid @base-link-color;

// Icons
@icon-font:                                 'font-awsome';
@icon-normal:                               16;
@icon-medium:                               18;
@icon-large:                                32;

// Badges
// -------------------------
@badge-color:                               @white;
@badge-link-hover-color:                    @white;
@badge-bg:                                  @red;
                
@badge-font-weight:                         bold;
@badge-line-height:                         1;
@badge-border-radius:                       10px;


//------------------------------------//
//  $COMPONENTS
//------------------------------------//

// Navbar
@navbar-height:                             @base-spacing-unit - @quarter-spacing-unit;
@navbar-default-color:                      @concrete;
@navbar-default-bg:                         @wet-asphalt;
@navbar-default-link-color:                 mix(@wet-asphalt, white, 75%);
@navbar-default-link-hover-color:           @turquuoise;

// Tooltips
@tooltip-max-width:                         200px;
@tooltip-color:                             @white;
@tooltip-bg:                                rgba(0,0,0,.9);

@tooltip-arrow-width:                       unit(@quarter-spacing-unit - 1, px);
@tooltip-arrow-color:                       @tooltip-bg;

// Breadcrumb
@breadcrumb-color:                          @concrete;
@breadcrumb-bg:                             @clouds;
@breadcrumb-link-color:                     @silver;
@breadcrumb-link-hover-color:               @turquuoise;
@breadcrumb-border-color:                   mix(@clouds, black, 85%);

// SideNav
@sidenav-width:                             260;
@sidenav-color:                             @concrete;
@sidenav-bg:                                @clouds;
@sidenav-link-color:                        @silver;
@sidenav-link-hover-color:                  @turquuoise;
@sidenav-border-color:                      mix(@clouds, black, 85%);
@sidenav-shadow-color:                      mix(@clouds, black, 85%);
@sidenav-sub-link-color:                    @sidenav-link-hover-color;

// Forums
@forums-name-bg:                            @wet-asphalt;
@forums-name-link-color:                    @white;
@forums-name-link-hover-color:              @white;

// Forum
@forum-row-height:                          @triple-spacing-unit;
@forum-row-bg:                              @white;
@forum-row-hover-bg:                        @clouds;
@forum-row-border-color:                    mix(@clouds, black, 95%);

@forum-default-color:                       @gray-darker;

@forum-title-link-color:                    @wet-asphalt;
@forum-title-link-hover-color:              @turquuoise;

@forum-stats-dfn-color:                     @concrete;
@forum-stats-label-bg:                      @forum-stats-dfn-color;
@forum-stats-label-text-color:              @white;

// Footbar
@footbar-bg:                                @wet-asphalt;
@footbar-color:                             @white;
@footbar-link-color:                        mix(@wet-asphalt, white, 75%);
@footbar-link-hover-color:                  @turquuoise;

// Info
@info-default-color:                        @concrete;

