//------------------------------------//
//  $VARS
//------------------------------------//

// Color Scheme
@primary:                                   @midnight-blue;
@primary-alt:                               @wet-asphalt;
@primary-accent:                            mix(@primary, white, 75%);
@primary-hover:                             @turquuoise;

@secondary:                                 @clouds;
@secondary-accent:                          mix(@secondary, black, 85%);
@secondary-alt:                             @concrete;

// Overide defaults.less

@base-bg-color:                             @primary;

// Base colour for links & branding
@base-link-color:                           @primary-alt;
@base-link-hover-color:                     @primary-hover;

// Form
@form-color:                                @secondary-accent;
@form-border-color:                         @secondary-accent;
@form-disabled-color:                       @secondary-accent;
@form-border-focus:                         @primary-hover;

//------------------------------------//
//  $MODULES
//------------------------------------//

// Buttons
@button-default-bg:                         @base-link-color;
@button-default-color:                      @white;
@button-default-border:                     0;
@button-default-border-radius:              @base-radius-medium;

@button-clear-border:                       2px solid @base-link-color;

// Icons
@icon-font:                                 'font-awsome';
@icon-normal:                               16;
@icon-medium:                               18;
@icon-large:                                32;

// Badges
// -------------------------
@badge-color:                               @white;
@badge-link-hover-color:                    @white;
@badge-bg:                                  @red;
                
@badge-font-weight:                         bold;
@badge-line-height:                         1.667;
@badge-border-radius:                       10px;


//------------------------------------//
//  $COMPONENTS
//------------------------------------//

// Navbar
@navbar-height:                             @base-spacing-unit - @quarter-spacing-unit;
@navbar-color:                              @secondary-alt;
@navbar-bg:                                 @primary;
@navbar-link-color:                         @primary-accent;
@navbar-link-hover-color:                   @primary-hover;

@navbar-sub-bg:                             @primary;
@navbar-sub-color:                          @navbar-sub-bg;
@navbar-sub-bg-hover-color:                 @primary-hover;
@navbar-sub-link-color:                     @navbar-sub-bg-hover-color;
@navbar-sub-link-hover-color:               @white;

@navbar-sub-header-color:                   @white;
@navbar-sub-header-bg:                      @secondary-alt;

@navbar-actions-sub-bg:                     @secondary;
@navbar-actions-sub-link-color:             @secondary-accent;
@navbar-actions-sub-link-hover-color:       @primary-hover;

// Notifications
@notification-font-size:                    @base-font-size;
@notification-line-height:                  1.667;
@notification-color:                        @base-ui-color;
@notification-bg:                           @white;
@notification-bg-hover-color:               @secondary;
@notification-border-color:                 mix(@notification-bg, black, 95%);
@notification-link-color:                   @primary-alt;
@notification-link-hover-color:             @primary-hover;

@notification-header-bg:                    @primary;
@notification-header-color:                 @white;
@notification-header-link-color:            @primary-accent;
@notification-header-link-hover-color:      @primary-hover;

@notification-width:                       492px;
@notification-offset:                      -382;
@notification-arrow-offset:                386;
@notification-stats-width:                 250px;
@notification-recent-width:                216px;

// Tooltips
@tooltip-max-width:                         200px;
@tooltip-color:                             @white;
@tooltip-bg:                                rgba(0,0,0,.9);

@tooltip-arrow-width:                       unit(@quarter-spacing-unit - 1, px);
@tooltip-arrow-color:                       @tooltip-bg;

// Breadcrumb
@breadcrumb-color:                          @secondary-alt;
@breadcrumb-bg:                             @secondary;
@breadcrumb-link-color:                     @secondary-accent;
@breadcrumb-link-hover-color:               @primary-hover;
@breadcrumb-border-color:                   @breadcrumb-link-color;

// SideNav
@sidenav-width:                             260;
@sidenav-color:                             @secondary-alt;
@sidenav-bg:                                @secondary;
@sidenav-link-color:                        @secondary-accent;
@sidenav-link-hover-color:                  @primary-hover;
@sidenav-border-color:                      @sidenav-link-color;
@sidenav-shadow-color:                      @sidenav-border-color;
@sidenav-sub-link-color:                    @sidenav-link-hover-color;

// Forums
@forums-name-bg:                            @primary;
@forums-name-link-color:                    @white;
@forums-name-link-hover-color:              @white;

// Forum
@forum-row-height:                          @triple-spacing-unit;
@forum-row-bg:                              @white;
@forum-row-hover-bg:                        @secondary;
@forum-row-border-color:                    mix(@forum-row-hover-bg, black, 95%);

@forum-default-color:                       @gray-darker;

@forum-title-link-color:                    @primary;
@forum-title-link-hover-color:              @primary-hover;

@forum-stats-dfn-color:                     @secondary-alt;
@forum-stats-label-bg:                      @forum-stats-dfn-color;
@forum-stats-label-text-color:              @white;

// Footbar
@footbar-bg:                                @primary;
@footbar-color:                             @white;
@footbar-link-color:                        @primary-accent;
@footbar-link-hover-color:                  @primary-hover;

// Info
@info-default-color:                        @secondary-alt;

