// Framework variables and mixins
@import "../framework/_variables.less";
@import "../framework/_mixins.less";

/* 
   ==========================================================================
   Theme specific Apperence & adjustments
   ==========================================================================
*/

.odd { background-color: lighten(#428bca, 43%); }
.even { background-color: lighten(#428bca, 41%); }
section { 
	padding: @padding-large-vertical 0;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);

	article > h3 { color: darken(@brand-primary, 20%); }
	h4 { color: darken(@brand-danger, 20%); }
}