/* 
   ==========================================================================
   Grid System
   ==========================================================================
*/

// Set the container width, and override it for fixed navbars in media queries
.container { .container-fixed(); }

// mobile first defaults
.row { .make-row(); }

// Common styles for small and large grid columns
.t-1,
.t-2,
.t-3,
.t-4,
.t-5,
.t-6,
.t-7,
.t-8,
.t-9,
.t-10,
.t-11,
.t-12,
.s-1,
.s-2,
.s-3,
.s-4,
.s-5,
.s-6,
.s-7,
.s-8,
.s-9,
.s-10,
.s-11,
.s-12,
.m-1,
.m-2,
.m-3,
.m-4,
.m-5,
.m-6,
.m-7,
.m-8,
.m-9,
.m-10,
.m-11,
.m-12,
.l-1,
.l-2,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-8,
.l-9,
.l-10,
.l-11,
.l-12 {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left:  (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);
}


// Extra small grid
//
// Grid classes for extra small devices like smartphones. No offset, push, or
// pull classes are present here due to the size of the target.
//
// Note that `.t-12` doesn't get floated on purpose--there's no need since
// it's full-width.

.t-1,
.t-2,
.t-3,
.t-4,
.t-5,
.t-6,
.t-7,
.t-8,
.t-9,
.t-10,
.t-11 { float: left; }

.t-1  { width: percentage((1 / @grid-columns)); }
.t-2  { width: percentage((2 / @grid-columns)); }
.t-3  { width: percentage((3 / @grid-columns)); }
.t-4  { width: percentage((4 / @grid-columns)); }
.t-5  { width: percentage((5 / @grid-columns)); }
.t-6  { width: percentage((6 / @grid-columns)); }
.t-7  { width: percentage((7 / @grid-columns)); }
.t-8  { width: percentage((8 / @grid-columns)); }
.t-9  { width: percentage((9 / @grid-columns)); }
.t-10 { width: percentage((10/ @grid-columns)); }
.t-11 { width: percentage((11/ @grid-columns)); }
.t-12 { width: 100%; }


// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.
//
// Note that `.s-12` doesn't get floated on purpose--there's no need since
// it's full-width.

@media (min-width: @screen-sm-min) {
    .container { width: @container-sm; }

    .s-1,
    .s-2,
    .s-3,
    .s-4,
    .s-5,
    .s-6,
    .s-7,
    .s-8,
    .s-9,
    .s-10,
    .s-11 { float: left; }

    .s-1  { width: percentage((1 / @grid-columns)); }
    .s-2  { width: percentage((2 / @grid-columns)); }
    .s-3  { width: percentage((3 / @grid-columns)); }
    .s-4  { width: percentage((4 / @grid-columns)); }
    .s-5  { width: percentage((5 / @grid-columns)); }
    .s-6  { width: percentage((6 / @grid-columns)); }
    .s-7  { width: percentage((7 / @grid-columns)); }
    .s-8  { width: percentage((8 / @grid-columns)); }
    .s-9  { width: percentage((9 / @grid-columns)); }
    .s-10 { width: percentage((10/ @grid-columns)); }
    .s-11 { width: percentage((11/ @grid-columns)); }
    .s-12 { width: 100%; }

    // Push and pull columns for source order changes
    .s-push-1  { left: percentage((1 / @grid-columns)); }
    .s-push-2  { left: percentage((2 / @grid-columns)); }
    .s-push-3  { left: percentage((3 / @grid-columns)); }
    .s-push-4  { left: percentage((4 / @grid-columns)); }
    .s-push-5  { left: percentage((5 / @grid-columns)); }
    .s-push-6  { left: percentage((6 / @grid-columns)); }
    .s-push-7  { left: percentage((7 / @grid-columns)); }
    .s-push-8  { left: percentage((8 / @grid-columns)); }
    .s-push-9  { left: percentage((9 / @grid-columns)); }
    .s-push-10 { left: percentage((10/ @grid-columns)); }
    .s-push-11 { left: percentage((11/ @grid-columns)); }

    .s-pull-1  { right: percentage((1 / @grid-columns)); }
    .s-pull-2  { right: percentage((2 / @grid-columns)); }
    .s-pull-3  { right: percentage((3 / @grid-columns)); }
    .s-pull-4  { right: percentage((4 / @grid-columns)); }
    .s-pull-5  { right: percentage((5 / @grid-columns)); }
    .s-pull-6  { right: percentage((6 / @grid-columns)); }
    .s-pull-7  { right: percentage((7 / @grid-columns)); }
    .s-pull-8  { right: percentage((8 / @grid-columns)); }
    .s-pull-9  { right: percentage((9 / @grid-columns)); }
    .s-pull-10 { right: percentage((10/ @grid-columns)); }
    .s-pull-11 { right: percentage((11/ @grid-columns)); }

    // Offsets
    .s-offset-1  { margin-left: percentage((1 / @grid-columns)); }
    .s-offset-2  { margin-left: percentage((2 / @grid-columns)); }
    .s-offset-3  { margin-left: percentage((3 / @grid-columns)); }
    .s-offset-4  { margin-left: percentage((4 / @grid-columns)); }
    .s-offset-5  { margin-left: percentage((5 / @grid-columns)); }
    .s-offset-6  { margin-left: percentage((6 / @grid-columns)); }
    .s-offset-7  { margin-left: percentage((7 / @grid-columns)); }
    .s-offset-8  { margin-left: percentage((8 / @grid-columns)); }
    .s-offset-9  { margin-left: percentage((9 / @grid-columns)); }
    .s-offset-10 { margin-left: percentage((10/ @grid-columns)); }
    .s-offset-11 { margin-left: percentage((11/ @grid-columns)); }
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.
//
// Note that `.m-12` doesn't get floated on purpose--there's no need since
// it's full-width.

@media (min-width: @screen-md-min) {
    .container { width: @container-md; }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11 { float: left; }

    .m-1  { width: percentage((1 / @grid-columns)); }
    .m-2  { width: percentage((2 / @grid-columns)); }
    .m-3  { width: percentage((3 / @grid-columns)); }
    .m-4  { width: percentage((4 / @grid-columns)); }
    .m-5  { width: percentage((5 / @grid-columns)); }
    .m-6  { width: percentage((6 / @grid-columns)); }
    .m-7  { width: percentage((7 / @grid-columns)); }
    .m-8  { width: percentage((8 / @grid-columns)); }
    .m-9  { width: percentage((9 / @grid-columns)); }
    .m-10 { width: percentage((10/ @grid-columns)); }
    .m-11 { width: percentage((11/ @grid-columns)); }
    .m-12 { width: 100%; }

    // Push and pull columns for source order changes
    .m-push-0  { left: auto; }
    .m-push-1  { left: percentage((1 / @grid-columns)); }
    .m-push-2  { left: percentage((2 / @grid-columns)); }
    .m-push-3  { left: percentage((3 / @grid-columns)); }
    .m-push-4  { left: percentage((4 / @grid-columns)); }
    .m-push-5  { left: percentage((5 / @grid-columns)); }
    .m-push-6  { left: percentage((6 / @grid-columns)); }
    .m-push-7  { left: percentage((7 / @grid-columns)); }
    .m-push-8  { left: percentage((8 / @grid-columns)); }
    .m-push-9  { left: percentage((9 / @grid-columns)); }
    .m-push-10 { left: percentage((10/ @grid-columns)); }
    .m-push-11 { left: percentage((11/ @grid-columns)); }

    .m-pull-0  { right: auto; }
    .m-pull-1  { right: percentage((1 / @grid-columns)); }
    .m-pull-2  { right: percentage((2 / @grid-columns)); }
    .m-pull-3  { right: percentage((3 / @grid-columns)); }
    .m-pull-4  { right: percentage((4 / @grid-columns)); }
    .m-pull-5  { right: percentage((5 / @grid-columns)); }
    .m-pull-6  { right: percentage((6 / @grid-columns)); }
    .m-pull-7  { right: percentage((7 / @grid-columns)); }
    .m-pull-8  { right: percentage((8 / @grid-columns)); }
    .m-pull-9  { right: percentage((9 / @grid-columns)); }
    .m-pull-10 { right: percentage((10/ @grid-columns)); }
    .m-pull-11 { right: percentage((11/ @grid-columns)); }

    // Offsets
    .m-offset-0  { margin-left: 0; }
    .m-offset-1  { margin-left: percentage((1 / @grid-columns)); }
    .m-offset-2  { margin-left: percentage((2 / @grid-columns)); }
    .m-offset-3  { margin-left: percentage((3 / @grid-columns)); }
    .m-offset-4  { margin-left: percentage((4 / @grid-columns)); }
    .m-offset-5  { margin-left: percentage((5 / @grid-columns)); }
    .m-offset-6  { margin-left: percentage((6 / @grid-columns)); }
    .m-offset-7  { margin-left: percentage((7 / @grid-columns)); }
    .m-offset-8  { margin-left: percentage((8 / @grid-columns)); }
    .m-offset-9  { margin-left: percentage((9 / @grid-columns)); }
    .m-offset-10 { margin-left: percentage((10/ @grid-columns)); }
    .m-offset-11 { margin-left: percentage((11/ @grid-columns)); }
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
//
// Note that `.l-12` doesn't get floated on purpose--there's no need since
// it's full-width.

@media (min-width: @screen-lg-min) {
    .container { width: @container-lg; }

    .l-1,
    .l-2,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11 { float: left; }

    .l-1  { width: percentage((1 / @grid-columns)); }
    .l-2  { width: percentage((2 / @grid-columns)); }
    .l-3  { width: percentage((3 / @grid-columns)); }
    .l-4  { width: percentage((4 / @grid-columns)); }
    .l-5  { width: percentage((5 / @grid-columns)); }
    .l-6  { width: percentage((6 / @grid-columns)); }
    .l-7  { width: percentage((7 / @grid-columns)); }
    .l-8  { width: percentage((8 / @grid-columns)); }
    .l-9  { width: percentage((9 / @grid-columns)); }
    .l-10 { width: percentage((10/ @grid-columns)); }
    .l-11 { width: percentage((11/ @grid-columns)); }
    .l-12 { width: 100%; }

    // Push and pull columns for source order changes
    .l-push-0  { left: auto; }
    .l-push-1  { left: percentage((1 / @grid-columns)); }
    .l-push-2  { left: percentage((2 / @grid-columns)); }
    .l-push-3  { left: percentage((3 / @grid-columns)); }
    .l-push-4  { left: percentage((4 / @grid-columns)); }
    .l-push-5  { left: percentage((5 / @grid-columns)); }
    .l-push-6  { left: percentage((6 / @grid-columns)); }
    .l-push-7  { left: percentage((7 / @grid-columns)); }
    .l-push-8  { left: percentage((8 / @grid-columns)); }
    .l-push-9  { left: percentage((9 / @grid-columns)); }
    .l-push-10 { left: percentage((10/ @grid-columns)); }
    .l-push-11 { left: percentage((11/ @grid-columns)); }

    .l-pull-0  { right: auto; }
    .l-pull-1  { right: percentage((1 / @grid-columns)); }
    .l-pull-2  { right: percentage((2 / @grid-columns)); }
    .l-pull-3  { right: percentage((3 / @grid-columns)); }
    .l-pull-4  { right: percentage((4 / @grid-columns)); }
    .l-pull-5  { right: percentage((5 / @grid-columns)); }
    .l-pull-6  { right: percentage((6 / @grid-columns)); }
    .l-pull-7  { right: percentage((7 / @grid-columns)); }
    .l-pull-8  { right: percentage((8 / @grid-columns)); }
    .l-pull-9  { right: percentage((9 / @grid-columns)); }
    .l-pull-10 { right: percentage((10/ @grid-columns)); }
    .l-pull-11 { right: percentage((11/ @grid-columns)); }

    // Offsets
    .l-offset-0  { margin-left: 0; }
    .l-offset-1  { margin-left: percentage((1 / @grid-columns)); }
    .l-offset-2  { margin-left: percentage((2 / @grid-columns)); }
    .l-offset-3  { margin-left: percentage((3 / @grid-columns)); }
    .l-offset-4  { margin-left: percentage((4 / @grid-columns)); }
    .l-offset-5  { margin-left: percentage((5 / @grid-columns)); }
    .l-offset-6  { margin-left: percentage((6 / @grid-columns)); }
    .l-offset-7  { margin-left: percentage((7 / @grid-columns)); }
    .l-offset-8  { margin-left: percentage((8 / @grid-columns)); }
    .l-offset-9  { margin-left: percentage((9 / @grid-columns)); }
    .l-offset-10 { margin-left: percentage((10/ @grid-columns)); }
    .l-offset-11 { margin-left: percentage((11/ @grid-columns)); }
}
