/*------------------------------------*\
    $COMPONENT-CONTENT
\*------------------------------------*/

.content {
    background: @white;
    border-left: 1px solid @silver;
    border-bottom: 2px solid @silver;
    border-top: 1px solid @silver;
    box-shadow: -3px 3px 3px -2px @white-darker;
    
    border-radius: 0px 0px 0px 5px;
    display: inline-block;
    .margin(0);
    .padding(@base-spacing-unit);
    position: relative;
}