/*------------------------------------*\
    $COMPONENT-CONTENT
\*------------------------------------*/

.content {
    background: @silver-light;
    
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}