/*------------------------------------*\
    $COMPONENT-FORUMS
\*------------------------------------*/

/**
 * Forums master Class
 *
 * Since we use alot of list elemetns not as intended we need a micro reset for them to make styling things easier
 */
.forums {
    margin: 0;

    //dl,
    //dt,
    //dd,
    //ul,
    //p { 
    //    margin: 0; 
    //    line-height: 1;
    //}
}

.forum-list,
.forum-row-wrap,
.forum-header,
.forum-recent-info { 
    line-height: 1;

    margin: 0; 
}

/**
 * Forum-wrap used to apply grid
 */
.forums-wrap { @media (max-width: @screen-s-max) { &.grid {.padding(0); } } }

/**
 * Forum Name
 *
 * This is the header for each forum section
 */
.forum-name {
    line-height: 1;

    background-color: @forums-name-bg;

    margin: 0;

    > a { 
        .font-size(@base-font-size);

        color: @forums-name-link-color;

        display: block;
        .padding(@quarter-spacing-unit, @base-spacing-unit);

        &:hover { text-decoration: underline; }
    }
}

/**
 * Forum Row
 *
 * Here we style the look of each forum row
 */
.forum-row {
    background-color: @forum-row-bg;
    border-right: 1px solid @forum-row-border-color;
    border-bottom: 1px solid @forum-row-border-color;
    border-left: 1px solid @forum-row-border-color;

    .padding-vertical(@quarter-spacing-unit, @quarter-spacing-unit + @eighth-spacing-unit);
    .padding-horizontal(@half-spacing-unit);

    @media (min-width: @screen-m-min) {
        .padding-horizontal(0);
        height: unit(@forum-row-height, px);
    }

    &:hover { background-color: @forum-row-hover-bg; }
}

/**
 * Forum Title
 *
 * This is the physical link to each forum
 */
.forum-title {
    .font-size(@base-font-size - 2);
    @media (min-width: @screen-m-min) { .font-size(@base-font-size); }

    margin: 0;

    > a { 
        color: @forum-title-link-color;
        &:hover { color: @forum-title-link-hover-color; }
    }

    .label { .margin-left(@quarter-spacing-unit); }
}

/**
 * Forum Desc.
 *
 * This allows for the styling of the text description of each forum
 */
.forum-description {
    .font-size(14);
    font-weight: normal;
    .line-height(@base-spacing-unit - @quarter-spacing-unit);
    
    display: block;
    .margin-bottom(@quarter-spacing-unit);

    @media (min-width: @screen-m-min) { 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;

        //max-width: 100%;
        

        .margin-bottom(0); 
    }
}

/**
 * Forum info
 *
 * Grouping of none header info for forums, used for grid
 */
.forum-info {
    .margin-top(@quarter-spacing-unit - 1);
    @media (min-width: @screen-m-min) { .padding-left(20); }
    @media (min-width: @screen-l-min) { .padding-left(@double-spacing-unit); }
    @media (min-width: @screen-w-min) { .padding-left(40); }
}

/**
 * Forum stats
 *
 * Master class for all the styles to the stats for each forum row. 
 * IE: topics, posts, links, views, replies
 *
 * The individual classes themselves are used more as a located and for positioning.
 */
.forum-stats {
    line-height: 1;
    
    .padding-top(@eighth-spacing-unit);
    width: unit(@quadruple-spacing-unit, px);

    > p { 
        line-height: 1;

        display: inline-block;
        margin-right: 2px;
    }

    @media (min-width: @screen-m-min) { 
        > p {
            background-color: transparent;
            border-radius: 0;

            display: inline-flex;
            float: right;


            > dfn { 
                font-weight: 700;
                font-style: normal;

                color: @forum-stats-dfn-color;

                .padding-right(@half-spacing-unit); 
            }

            > b {
                background-color: @forum-stats-label-bg;
                border-radius: unit(3, px);
                color: @forum-stats-label-text-color;

                .margin-top(-@eighth-spacing-unit);
                .padding(@eighth-spacing-unit, @quarter-spacing-unit);
            }

            &:first-child { .margin-bottom(@quarter-spacing-unit); }

        }  
    }
}

/**
 * Forum recent
 *
 * Position the recent post section
 */
.forum-recent { 
    line-height: 1;
    
    .padding-left(@base-spacing-unit+@half-spacing-unit);
    .padding-top(@eighth-spacing-unit);
}

/**
 * Forum avatar
 *
 * Style the size and position of the avatars
 */
.forum-avatar { 
    .margin-right(@half-spacing-unit);
    width: 42px; 
}

/**
 * Forum recent info
 *
 * Position the text block for the recent post section
 */
.forum-recent-info { 
    line-height: 1;

    margin: 0;
    .padding-top(@eighth-spacing-unit);
}

/**
 * Forum recent post user
 *
 * Style the user of the most recent post
 */
.forum-recent-user {
    line-height: 1;

    margin: 0;
    > a { .line-height(24); }
}  

/**
 * Forum recent post time
 *
 * Style the time of the most recent post
 */
.forum-recent-time { 
    .font-size(@half-spacing-unit);
    line-height: 1; 
}  

