/*------------------------------------*\
    $COMPONENT-FORUMS
\*------------------------------------*/

/**
 * Forums master Class
 *
 * Since we use alot of list elemetns not as intended we need a micro reset for them to make styling things easier
 */
.forums {
    margin: 0;

    ol,
    dl,
    dt,
    dd,
    ul,
    p { 
        margin: 0; 
        line-height: 1;
    }
}

/**
 * Forum-wrap used to apply grid
 */
.forums-wrap { @media (max-width: @screen-s-max) { &.grid {.padding(0); } } }

/**
 * Forum Name
 *
 * This is the header for each forum section
 */
.forum-name {
    line-height: 1;

    background-color: @bluegray;

    margin: 0;

    > a { 
        .font-size(@base-font-size);

        color: @white;

        display: block;
        .padding(@quarter-spacing-unit, @base-spacing-unit);

        &:hover { text-decoration: underline; }
    }
}

/**
 * Forum Row
 *
 * Here we style the look of each forum row
 */
.forum-row { 
    border-bottom: 1px solid @silver;
    box-shadow: 0 2px 1px -1px @white;
    .padding-vertical(@quarter-spacing-unit, @quarter-spacing-unit + @eighth-spacing-unit);

    @media (max-width: @screen-s-max) { .padding-horizontal(@half-spacing-unit); }

    &:hover { background-color: @white-dark; }
}

/**
 * Forum Title
 *
 * This is the physical link to each forum
 */
.forum-title {
    .font-size(@base-font-size - 2);
    @media (min-width: @screen-m-min) { .font-size(@base-font-size); }

    margin: 0;

    > a { 
        color: @navy-light;
        &:hover { color: @teal; }
    }

    .label { .margin-left(@quarter-spacing-unit); }
}

/**
 * Forum Desc.
 *
 * This allows for the styling of the text description of each forum
 */
.forum-description {
    .font-size(@base-font-size);
    font-weight: normal;
    .line-height(@base-spacing-unit);
    
    display: block;
    .margin-bottom(@quarter-spacing-unit);
}

/**
 * Forum stats
 *
 * Master class for all the styles to the stats for each forum row. 
 * IE: topics, posts, links, views, replies
 *
 * The individual classes themselves are used more as a located and for positioning.
 */
dd.forum-stats { 
    .margin-top(8);
    > p { display: inline-block; } 
    @media (min-width: @screen-m-min) { 
        > p {
            background-color: transparent;
            border-radius: 0;

            display: inline-flex;        

            > dfn { 
                font-weight: 700;
                font-style: normal;

                color: @bluegray;

                .padding-right(@half-spacing-unit); 
            }

            > b {
                background-color: @bluegray;
                border-radius: unit(3, px);

                .margin-top(-@eighth-spacing-unit);
                .padding(@eighth-spacing-unit, @quarter-spacing-unit);
            }

            .margin-bottom(@quarter-spacing-unit);
        }  
    }

}

/**
 * Forum recent
 *
 * Position the recent post section
 */
dd.forum-recent {
    .margin-top(8);
}

/**
 * Forum avatar
 *
 * Style the size and position of the avatars
 */
.forum-avatar {
    .padding-right(@half-spacing-unit);
    width: 50px;
}

/**
 * Forum recent post user
 *
 * Style the user of the most recent post
 */
.forum-recent-user > a {
    //.font-size(@half-spacing-unit);
    .line-height(24);
}  

/**
 * Forum recent post time
 *
 * Style the time of the most recent post
 */
.forum-recent-time { .font-size(@half-spacing-unit); }  

