/*------------------------------------*\
    $COMPONENT-INFO
\*------------------------------------*/

/**
 * Info Class
 *
 * Primary class for info section, used mostly for spacing
 */
.info { 
    @media (min-width: @screen-m-min) and (max-width: @screen-m-max) {    
        .list-inline > dt { .font-size(@half-spacing-unit); }
        .list-inline > dd { 
            .font-size(@half-spacing-unit); 

            .margin-left(-2);
            .margin-left(@quarter-spacing-unit);
        }
    }
}

/**
 * Info Stats
 *
 * style how the info stats look
 */
.info-stats {
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    width: 244px;

    > dd { text-align: center; }

    @media (min-width: @screen-m-min) { 
        width: 627px; 
        > dd { text-align: left; }
    }
    @media (min-width: @screen-l-min) { width: 751px; }

    > dt { color: @info-default-color; }
}