/*------------------------------------*\
    $COMPONENT-NAVBAR
\*------------------------------------*/

/**
 * Basic Navbar
 */
.navbar {
    .font-size(@base-spacing-unit);

    background-color: @black;
    color: @white;

    //height: 50px;
    .padding(@half-spacing-unit);

    a { 
        color: @gray; 
        &:hover { color: @white; }
    }
}

/**
 * Brand Logo in Navbar
 */
.navbar-brand .brand-logo {
    height: 40px;
    width: 120px;
    margin-bottom: -10px; // Weird spacing anomoly in chrome on OSX Maverick
}

.navbar .badge {
    .margin(-@base-spacing-unit, 0, 0, -@half-spacing-unit - @eighth-spacing-unit);
}