/*------------------------------------*\
    $COMPONENT-NAVBAR
\*------------------------------------*/

/**
 * Basic Navbar
 */
.navbar {
    .font-size(@base-spacing-unit);

    background-color: @navbar-default-bg;
    color: @navbar-default-color;

    //height: 50px;
    .padding(@half-spacing-unit);

    a { 
        color: @navbar-default-link-color; 
        &:hover { color: @navbar-default-link-hover-color; }
    }
}

/**
 * Brand Logo in Navbar
 */
.navbar-brand .brand-logo {
    height: unit(@navbar-height, px);
    width: 120px;
    margin-bottom: -10px; // Weird spacing anomoly in chrome on OSX Maverick
}

.navbar .badge {
    .margin(-@base-spacing-unit, 0, 0, -@half-spacing-unit - @eighth-spacing-unit);
}