/*------------------------------------*\
    $COMPONENT-SIDENAV
\*------------------------------------*/

/**
 * Sidenav
 *
 * This is main class for establishing the sidenav section.
 */
.sidenav { 
    background-color: @sidenav-bg;

    display: inline-block;
    height: 100%;
    left: unit(-@sidenav-width, px);
    margin: 0;
    position: absolute;
    width: 0;    

    // enables momentum scrolling in iOS overflow elements
    -webkit-overflow-scrolling: touch; 
    // improves performance issues on mobile
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;

    @media only screen and (max-width: @screen-s-max) {
        padding-top: 0;
        position: fixed;
        z-index: 9999;
        .transition(.3s all ease );
    }
    .cf();
}

/**
 * Sidenav Menu
 *
 * This class sets the styles for the menu items.
 */
.sidenav-menu {
    .padding(@double-spacing-unit, 0);
    
    margin: 0;
    > li {
        display: block;
        .margin(@base-spacing-unit - @quarter-spacing-unit, 0, 0);
        position: relative;
        
        > a {
            .line-height(@base-spacing-unit);
            outline: 0;
    
            color: @sidenav-link-color;
    
            display: block;
            .padding(0, 0, @half-spacing-unit);
            .margin(0, @half-spacing-unit+@eighth-spacing-unit);

            &:hover { color: @sidenav-link-hover-color; }    
        }

        span { 
            display: inline-block;
            .margin-left(@half-spacing-unit); 
            top: -4px;
            position: relative;
        }

        .icon, .octicons { 
            .font-size(24);

            top: 0; 
        }

        .sidenav-menu-sub {
            .icon, .octicons { 
                .font-size(16);
                text-decoration: none;
            }
        }

        .icon.icon-chevron-down { 
            .font-size(@half-spacing-unit);
                
            top: -4px;
        }

        .badge { 
            .margin(-@base-spacing-unit, 0, 0, -@half-spacing-unit);
            //position: absolute;
        }

        &.is-active > a {
            //border-bottom: 0;
            //box-shadow: none;
            color: @sidenav-link-hover-color;
        }
    }
}

/**
 * Sidenav Seach
 *
 * This is where we set the styles related tot he seach feild
 */
 .sidenav-search {
    .form {
        .margin-horizontal(@half-spacing-unit+@eighth-spacing-unit);
    }
 }

/**
 * Sidenav menu sub
 *
 * Here we establish the look of the submenu items.
 */
.sidenav-menu-sub {
    display: none;
    .padding(0, 0, @half-spacing-unit);
    .margin(0, @half-spacing-unit+@eighth-spacing-unit);

    .is-active { display: block; }

    a {
        font-weight: normal;
        .font-size(@half-spacing-unit);
        text-decoration: none;

        color: @sidenav-sub-link-color;
        
        display: block;
        .margin-bottom(@quarter-spacing-unit);

        &:hover span { text-decoration: underline; }
        
        .is-active { font-weight: bold; }
    }

}

/**
 * Outer Wrap
 *
 * We need to do a little magic to one of our atoms 
 * inorder for the menu effect to work.
 */
.outer-wrap { 
    @media only screen and (max-width: @screen-s-max) {
        margin: 0;
        .transition(.3s all ease );
    }
}

/**
 * Sidenav Active State Class
 *
 * Here we set the changes that need to occur to the 
 * various wrapping classes to display the sidenav.
 */
body.is-active { 
    overflow-x: hidden;
    .sidenav {
        border-top: 1px solid @breadcrumb-border-color;

        @media (min-width: @screen-m-min) { border-top: 3px solid @breadcrumb-border-color; }
        left: 0;
        position: absolute;
        width: unit(@sidenav-width, px); 
        .transition(.3s all ease );
    }

    .content, .footbar { 
        border-left: 1px solid @breadcrumb-border-color;
        @media (min-width: @screen-m-min) { border-left: 0; } 
    }

    .outer-wrap, .footbar {
        .margin-left(@sidenav-width);
        overflow: hidden;
        .transition(.3s all ease );
    }
}

