/*------------------------------------*\
    THEME.LESS
\*------------------------------------*/
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    $USER STYLES
\*------------------------------------*/
.wrapper {
  padding: 48px;
  padding: 3rem;
}
.btn {
  /* Text */
  font-size: 16px;
  font-size: 1rem;
  font-family: "Open Sans", "Droid Sans", Verdana, Arial, Helvetica;
  font-weight: normal;
  line-height: 27px;
  line-height: 1.6875rem;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: subpixel-antialiased;
  /* Decoration */
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e6e6e6, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px #ffffff inset;
  box-shadow: 0 0 0 1px #ffffff inset;
  color: #BC2A4D;
  cursor: pointer;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  /* Layout */
  display: inline-block;
  margin: 0;
  padding: 2px 8px;
  padding: 0.125rem 0.5rem;
}
.btn:hover {
  text-decoration: none;
  border-color: #0a8ed0;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e6e6e6), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #e6e6e6, 0%, #ffffff, 100%);
  background-image: -moz-linear-gradient(top, #e6e6e6 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #e6e6e6 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#ffffffff', GradientType=0);
  color: #BC2A4D;
  text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px -1px 0 rgba(188, 42, 77, 0.2);
}
.btn:hover .octicons {
  color: #0a8ed0;
}
.btn:active,
.btn:focus {
  outline: none;
}
.btn:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn span {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 700;
}
.ui-page {
  outline: none;
}
.ui-loader {
  display: none;
}
