/*------------------------------------*\
    TEST.LESS
\*------------------------------------*/
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    $TEST IMPORT
\*------------------------------------*/
/*------------------------------------*\
    $MODULE-BREADCRUMBS
\*------------------------------------*/
/**
 * Basic badge
 */
.breadcrumbs {
  line-height: 1;
  background-color: #1abc9c;
  color: #ffffff;
  float: left;
  display: inline-block;
  margin: 0;
  padding-left: 12px;
  padding-left: 0.75rem;
  position: relative;
  width: 100%;
}
.breadcrumbs li {
  padding: 0;
}
.breadcrumbs li > span {
  color: #ffffff;
}
.breadcrumbs li a {
  padding: 6px;
  padding: 0.375rem;
  color: #16a085;
}
.breadcrumbs li a:hover {
  color: #ffffff;
}
.breadcrumbs .icon {
  font-size: 24px;
  font-size: 1.5rem;
}
@media only screen and (max-width: 767px) {
  .breadcrumbs {
    display: block;
    padding: 0;
  }
  .breadcrumbs li {
    width: 100%;
  }
}
.breadcrumbs-wrap {
  background-color: #1abc9c;
}
@media (max-width: 767px) {
  .breadcrumbs-wrap .grid {
    padding: 0px;
    padding: 0rem;
  }
}
.breadcrumbs-index {
  float: left;
  margin: 0;
  margin-bottom: -2px;
}
@media only screen and (max-width: 767px) {
  .breadcrumbs-index .pull-left {
    border-right: 1px solid #ffffff;
  }
}
.breadcrumbs-index .pull-right {
  width: 86%;
}
@media only screen and (max-width: 767px) {
  .breadcrumbs-index {
    display: inline-block;
    float: none;
  }
}
.breadcrumbs-toggle .icon {
  font-size: 12px;
  font-size: 0.75rem;
  padding-right: 6px;
  padding-right: 0.375rem;
  position: relative;
  top: 5px;
}
.breadcrumbs-crumbs {
  margin-top: 9px;
  margin-top: 0.5625rem;
  margin-left: 42px;
  margin-left: 2.625rem;
}
.breadcrumbs-crumbs > ul {
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.breadcrumbs-crumbs > ul > li:before {
  font-size: 18px;
  font-size: 1.125rem;
  content: "\276e";
  padding: 0px 12px 0px 6px;
  padding: 0rem 0.75rem 0rem 0.375rem;
}
@media only screen and (max-width: 767px) {
  .breadcrumbs-crumbs {
    display: none;
    margin: 0;
  }
  .breadcrumbs-crumbs > ul > li {
    line-height: 1;
    border-top: 1px solid #ffffff;
    padding: 12px;
    padding: 0.75rem;
  }
  .breadcrumbs-crumbs > ul > li:before {
    content: "";
    padding: 0;
  }
  .breadcrumbs-crumbs > ul > li a {
    display: block;
    padding: 0;
    width: 100%;
  }
}
.breadcrumbs.is-active .breadcrumbs-crumbs {
  display: inline-block;
}
.breadcrumbs-toggle {
  display: none;
}
@media only screen and (max-width: 767px) {
  .breadcrumbs-toggle {
    display: block;
  }
}
